*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/* HEADER/NAV  */

header{
    height: 680px;
    background-color: rgba(180,208,231,255);
}

/* START NAV */


nav{
    min-width: 100%;
    height: 70px;
    background-color: white;
    font-size: .9em;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
    white-space: nowrap;
}

#logo-nav{
    cursor: pointer;
}

.nav-item{
    min-width: 10%;
    height: 100%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.nav-item:hover{
    cursor: pointer;
    background-color: lightgray;
}

.nav-first-half{
    min-width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-second-half{
    min-width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#inizia{
    padding: .5em;
    width: fit-content;
    height: fit-content;
    background-color: rgba(0,97,255,255);
    color: white;
    text-decoration: none;
}

/* END NAV */

.container-1{
    width: 70%;
    height: 600px;
    margin: auto;
    padding-top: 150px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.first-title{
    font-size: 4em;
    font-weight: 900;
}

.text-1{
    margin-top: 2em;
    height: 80%;
    width: 30%;
    display: flex;
    flex-direction: column;
    position: relative;
}


#prova{
    margin-top: 2em;
    padding: .5em;
    width: fit-content;
    height: fit-content;
    background-color: rgba(0,97,255,255);
    color: white;
    text-decoration: none;
}

#annulla{
    margin-top: 2em;
}

.fa-arrow-down{
    font-size: 2em;
    margin-top: 1em;
    color: black;
}

.image-1{
    width: 70%;
    height: 400px;
    background-image: url(../assets/img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: -140px;
}

/* END HEADER */

/* START CARDS SECTION */

#section-1{
    height: 1250px;
    margin-top: 200px;
}

.container-2{
    width: 60%;
    height: 1250px;
    margin: auto;
}


/* SELECT BUSINESS PLAN */


.second-title{
    font-size: 2.5em;
}

.plan-options{
    width: 600px;
    display: flex;
    margin-top: 3em;
}

.mensile{
    display: flex;
}

.annuale{
    display: flex;
    margin-left: 50px;
}

.blue-circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    border: 4px solid blue;
}

.blue-circle:hover{
    cursor: pointer;
}


.blank-circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid grey;
}

.blank-circle:hover{
    cursor: pointer;
}


/* CARDS */

.cards{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2em;
}

.card{
    margin-top: 50px;
    width: calc(100% / 3);
    height: 1000px;
    border: 1px solid black;
}

.plan-type{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    border: 1px solid black;
}

.plan-name-cost-time{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.card-name{
    font-size: 2em;
    font-weight: 600;
}

.cost{
    margin-top: 1em;
    font-weight: 600;
}

.plan-duration{
    margin-top: 1em;

}

.plan-user-space-function{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.card-icon-text{
    margin-left: .5em;
}

.user-number{
    margin-top: 2em;
    display: flex;
}


.space{
    margin-top: 2em;
    display: flex;
}

.function{
    margin-top: 2em;
    display: flex;
}


.buy-options{
    display: flex;
    flex-direction: column;
}


#prova-gratis{
    margin-left: 5%;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
    width: 90%;
    height: fit-content;
    background-color: rgba(0,97,255,255);
    color: white;
    text-decoration: none;
    text-align: center;
}

.acquista-ora{
    margin-left: 5%;
}

hr{
    width: 20%;
    margin-top: 30px;
    margin-left: 5%;
    margin-bottom: 30px;
}

.punti-salienti{
    padding: 1em;
    width: 100%;
}

.list-title{
    font-weight: 600;
}


ul{
    list-style: none;
}

li{
    margin-top: 1em;
}


/* END CARDS SECTION */

/* START ENTERPRISE SECTION */


.section-2{
    height: 280px;
    margin-top: 30px;
}

.container-3{
    width: 60%;
    height: 100%;
    margin: auto;
    border: 1px solid black;
}

.ufficio-vendite{
    width: 100%;
    display: flex;
}

.Enterprise{
    margin-top: 1em;
    font-size: 1.8em;
    margin-left: 5%;
}

.prices{
    margin-top: 1em;
    font-weight: 600;
    margin-left: 5%;
}

.prices-description{
    margin-top: 4em;
    margin-left: 5%;
}

#contatta{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
    width: 50%;
    height: fit-content;
    background-color: rgba(0,97,255,255);
    color: white;
    text-decoration: none;
    text-align: center;
}

/* END ENTERPRISE SECTION */


/* START 3RD SECTION */

.section-3{
    height: 400px;
    margin-top: 200px;
}

.container-4{
    width: 60%;
    height: 100%;
    margin: auto;
    display: flex;
}

.image-partner{
    width: 50%;
    height: fit-content;
}

.partner-dropbox{
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.partner-paragraph{
    margin-top: 1em;
}

#trova-partner{
    width: 50%;
    margin-top: 2em;
    padding: 1em;
    text-decoration: none;
    border: 2px solid black;
    text-align: center;
    color: black;

}

/* END 3RD SECTION */

/* START BOXES SECTION */

.boxes{
    height: 1100px;
    margin-top: 200px;
}

.container-5{
    width: 60%;
    height: 1100px;
    margin: auto;
}

.box-title{
    margin-bottom: 2em;
    font-size: 2.5em;
}

.box-container{
    width: 100%;
    height: 1100px;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.box{
    width: calc(100% / 3.5);
    height: 500px;
}

.box-img{
    width: 100%;
}

.box-paragraph{
    margin-top: 2em;
}

/* END BOXES SECTION */

/* 500.000 TEAMS SECTION */


.teams{
    height: 150px;
    margin-top: 200px;
}

.container-6{
    width: 60%;
    height: 150px;
    margin: auto;
}

.team-title{
    font-size: 2.5em;
}

.clients{
    margin-top: 4em;
}

/* END 500.000 TEAMS SECTION */

/* START SQUARES SECTION */

.squares{
    height: 500px;
    margin-top: 150px;
}

.container-7{
    height: 500px;
    display: flex;
}


.squares-logos{
    min-width: calc(100% / 3);
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.text-between{
    min-width: calc(100% / 3);
    min-height: 500px;
    padding: 2em;
}

#text-between-image{
    height: 15%;
}

#text-between-divisor{
    width: 20%;
    margin-left: 0;
}

#author{
    margin-top: 3em;
}


.square-1{
    width: 50%;
    height: 50%;
    background-color: rgba(162,211,155,255);
    border: 10px solid rgba(209,233,205,255);
    padding: 2em;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-image-1{
    height: 40%;
    filter: invert(1);
}

.square-2{
    width: 50%;
    height: 50%;
    background-color: rgba(97,8,43,255);
    padding: 2em;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-image-2{
    height: 80%;
    filter: invert(1);
}

.square-3{
    width: 50%;
    height: 50%;
    padding: 3em;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,147,206,255);
}

.square-image-3{
    height: 40%;
    filter: invert(1);
}

.square-4{
    width: 50%;
    height: 50%;
    padding: 3em;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.square-image-4{
    height: 100%;
    filter: invert(1);
}

.square-5{
    width: 50%;
    height: 50%;
    padding: 3em;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(213,0,31,255);
}

.square-image-5{
    height: 100%;
    filter: invert(1);
}

.square-6{
    width: 50%;
    height: 50%;
    padding: 3em;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(180,208,231,255);
}

.square-image-6{
    height: 30%;
    filter: invert(1);
}


.square-7{
    width: 50%;
    height: 50%;
    padding: 3em;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(13,36,129,255);
}

.square-image-7{
    height: 100%;
    filter: invert(1);
}

.square-8{
    width: 50%;
    height: 50%;
    padding: 3em;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,216,48,255);
}

.square-image-8{
    height: 100%;
    filter: invert(1);
}

/* END SQUARES SECTION */

/* START DROPBOX BUSINESS SECTION */

.dropbox-business-section{
    height: 300px;
    background-color: rgba(180,208,231,255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-8{
    width: 60%;
    height: 50%;
    margin-top: 5%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items:flex-start
}

#business-title{
    font-size: 2em;
    color: rgba(97,8,43,255);
}

#prova-business{
    text-decoration: none;
    color: black;
    padding: .5em;
    padding-inline: 1em;
    margin-left: 5em;
    background-color: white;
    white-space: nowrap;
}

/* END DROPBOX BUSINESS SECTION */

/* START ANSWERS SECTION */


.answers{
    height: 600px;
    display: flex;
    align-items: center;
}

.container-9{
    width: 60%;
    height: 70%;
    margin: auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.answer{
    margin-top: 2em;
    border-bottom: 2px solid grey;
    padding-bottom: 2em;
    display: flex;
    justify-content: space-between;
}

.fa-chevron-down{
    margin-right: 2em;
    font-size: .8em;
}

 /* END ANSWERS SECTION */


 footer{
    height: 600px;
    background-color: rgba(0,0,0,255);
    /* display: flex;
    justify-content: center; */
    gap: 1em;
    padding: 5em;
    padding-inline: 8em;
 }
 
 .lists-container{
    margin: auto;
    width: 80%;
    height: 300px;
    display: flex;
    flex-direction: row;
 }

 .list{
    width: calc(100% / 5);
    height: 300px;
    padding: 2em;
    color: white;
 }

li:hover{
    cursor: pointer;
}


li:first-of-type{
    font-size: 1.5em;
    font-weight: 900;
}

li:first-of-type:hover{
    cursor: pointer;
}

.language{
    margin-top: 100px;
    margin-left: 12%;
    width: 8%;
    height: 100px;
    border-top: 2px solid grey;
    color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.language:hover{
    cursor: pointer;
}